html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 120%;
}

h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: $color-black-blue;
}

h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: $color-black-blue;
}

h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: $color-black-blue;
}

h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
}

// MEDIA
