$color-green: #4b9200;
$color-orange: #f9804b;
$color-orange-hover: #e47209;
$color-yellow: #ffee2e;
$color-rad: #d31414;
$color-black-blue: #333b41;
$color-gray: #767474;
$color-gray-smoky: #ababab;
$color-light-gray: #f1f3f2;
$color-white: #fdfdff;

// width
$content-width: 1160px;
$small-desktop-width: 940px;
$tablet-width: 640px;
$mobile-width: 320px;
