.animals {
  button {
    display: block;
    margin: 80px auto 100px;
  }
}

.animals__container,
.animals__container_left,
.animals__container_right {
  margin: 180px 10px 0;
  width: 1160px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
  height: 872px;
}

.animals__card {
  width: 366px;
  height: 426px;
  border-radius: 5px;
  border: 1px solid $color-orange;
  transition: all 0.4s ease-in-out;
  box-sizing: border-box;
  img {
    transition: all 0.4s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }

  &:hover {
    transform: scale(1);
    .card_text {
      position: absolute;
      bottom: 40%;
      transform: translate(0%, -50%);
      width: 92.5%;
      background-color: rgba(0, 0, 0, 0.685);
      transition: all 0.4s ease-in-out;
      color: #fff;
    }
  }

  .card_image {
    border-radius: 5px 5px 0 0;
  }
  .card_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px 0px 16px;
    position: relative;
    transition: all 0.3s;
    padding: 8px 16px;
    .card_title {
      h5 {
        margin: 0;
      }
      p {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 120%;
        margin: 0;
      }
    }
  }
}

.card_icon {
  position: relative;
  .bamboo {
    position: absolute;
  }
  .fish {
    position: absolute;
    left: 5px;
  }
}

// Swiper

.animals__swiper {
  position: relative;
  width: 350%;
  display: flex;
  left: -1189px;
}

.animals {
  .wrapper {
    position: relative;
    overflow: hidden;
  }
}

.arrow {
  cursor: pointer;
  width: 62px;
  height: 62px;
  background-color: #fe9013;
  border-radius: 50%;
  border: none;
}

.arrow_left {
  position: absolute;
  bottom: 535px;
  left: 125px;
  :hover {
    fill: #e47209;
    transition: all 0.3s;
  }
  :active {
    fill: $color-green;
    transition: all 0.1s;
  }
}
.arrow_right {
  position: absolute;
  bottom: 535px;
  right: 125px;
  transition: all 0.3s;
  :hover {
    fill: #e47209;
    transition: all 0.3s;
  }
  :active {
    fill: $color-green;
    transition: all 0.1s;
  }
}

@keyframes move-left_desctop {
  from {
    left: -1189px;
  }
  to {
    left: -9px;
  }
}
.transition-left_desctop {
  animation-name: move-left_desctop;
  animation-duration: 1.5s;
}

@keyframes move-left_normal {
  from {
    left: -1150px;
  }
  to {
    left: 100px;
  }
}
.transition-left_normal {
  animation-name: move-left_normal;
  animation-duration: 1.5s;
}

@keyframes move-left_small {
  from {
    left: -1105px;
  }
  to {
    left: -9px;
  }
}
.transition-left_small {
  animation-name: move-left_small;
  animation-duration: 1.5s;
}

@keyframes move-left_mobile {
  from {
    left: -121%;
  }
  to {
    left: 0%;
  }
}
.transition-left_mobile {
  animation-name: move-left_mobile;
  animation-duration: 1.5s;
}

@keyframes move-right_desctop {
  from {
    left: -1189px;
  }
  to {
    left: -2370px;
  }
}
.transition-right_desctop {
  animation-name: move-right_desctop;
  animation-duration: 1.5s;
}

@keyframes move-right_normal {
  from {
    left: -1150px;
  }
  to {
    left: -2250px;
  }
}
.transition-right_normal {
  animation-name: move-right_normal;
  animation-duration: 1.5s;
}

@keyframes move-right_small {
  from {
    left: -1105px;
  }
  to {
    left: -2202px;
  }
}
.transition-right_small {
  animation-name: move-right_small;
  animation-duration: 1.5s;
}

@keyframes move-right_mobile {
  from {
    left: -121%;
  }
  to {
    left: -243%;
  }
}
.transition-right_mobile {
  animation-name: move-right_mobile;
  animation-duration: 1.5s;
}

//MEDIA

@media screen and (max-width: 1550px) {
  .animals__swiper {
    left: -1050px;
  }
  .animals__container,
  .animals__container_left,
  .animals__container_right {
    margin-top: 140px;
    grid-gap: 90px 27px;
    height: auto;
  }
  .animals__card {
    width: 294px;
    height: 354px;
    .card_image {
      width: 294px;
      height: 294px;
    }
  }
  .arrow_left {
    left: 35%;
    top: 57%;
  }
  .arrow_right {
    right: 34%;
    top: 57%;
  }
}

@media screen and (max-width: 1200px) {
  .animals {
    button {
      margin: 80px auto 140px;
    }
  }
  .animals__swiper {
    left: -1105px;
  }
  .arrow_left {
    top: 55%;
  }
  .arrow_right {
    top: 55%;
    right: 36%;
  }
}

@media screen and (max-width: 980px) {
  .animals__container {
    max-width: 640px;
    margin: 80px auto 0 auto;
  }
  .animals__container_left,
  .animals__container_right {
    max-width: 640px;
    margin-top: 80px;
    grid-gap: 90px 27px;
  }
  .animals__card {
    width: 285px;
    height: 332px;
    .card_image {
      width: 283px;
      height: 285px;
    }
    .card_text {
      padding: 0 10px;
      .card_title {
        h5 {
          font-size: 12.47px;
        }
        p {
          font-size: 12.47px;
        }
      }
    }
  }
  .animals {
    button {
      margin: 60px auto 100px;
    }
  }
  .arrow_left {
    left: 38%;
    top: 54%;
  }
  .arrow_right {
    right: 38%;
    top: 54%;
  }
  .animals__swiper {
    left: -121%;
  }
  .animals__card {
    &:nth-of-type(3) {
      display: none;
    }
    &:nth-of-type(6) {
      display: none;
    }
  }
}

@media screen and (max-width: 630px) {
  .animals__swiper {
    position: unset;
    width: 100%;
  }
  .animals__container {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
    gap: 20px;
    height: auto;
  }
  .animals__container_left,
  .animals__container_right {
    display: none;
  }

  .animals__card {
    margin: 0 auto;
  }

  .arrow_left {
    visibility: hidden;
  }
  .arrow_right {
    visibility: hidden;
  }

  .animals {
    button {
      margin: 20px auto 60px;
    }
  }
}
