.wrapper {
  max-width: $content-width;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    max-width: $small-desktop-width;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .wrapper {
    max-width: 100%;
  }
}
